//Colores y fuentes
$fontTitles: "Young Serif", serif;
$colorMainTitle:hsl(24, 5%, 18%);
$colorSectionTitle:hsl(12, 40%, 37%);
$fontTxt:"Outfit", sans-serif;
$colorTxt:#676562;
$colorPrepTitle:hsl(332, 51%, 32%);
$bgPrep:#FFF7FC;


//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

//Mixin de media query
@mixin breakpoint(){
    @media screen and (max-width:720px) {
        @content
    }
}